@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/fonts/Manrope-Light.ttf);
  }
  @font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Manrope-Regular.ttf);
  }
  @font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: medium;
    font-display: swap;
    src: url(/assets/fonts/Manrope-Medium.ttf);
  }
  @font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(/assets/fonts/Manrope-Bold.ttf);
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Inter_18pt-Regular.ttf);
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/Inter_18pt-Medium.ttf);
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(/assets/fonts/Inter_18pt-Bold.ttf);
  }
  @font-face {
    font-family: "Lao";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/NotoSerifLao-Regular.ttf);
  }
  @font-face {
    font-family: "Lao";
    font-style: bold;
    font-weight: bold;
    font-display: swap;
    src: url(/assets/fonts/NotoSerifLao-Bold.ttf);
  }
}

@layer components {
  .fixed-menu {
    position: fixed;
    bottom: 0;
    right: calc(max(0px, (100vw - 1700px) / 2));
  }
}
